################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Git.netExample/FileContentIndex/c2a6eb8e-bafe-455c-a697-8582999c63d8.vsidx
